<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('head') %> 
  <title>Trabajo integrador</title>
</head>

<body>

  <%- include('ventana-logueo')  %> 

  <div class="contenedor-logo">
    <img src="/images/logo-principal.png" alt="logo-principal">
    <h1>Delivery de hamburguesas</h1>
  </div>

  <nav class="contenedor-nav">
    <div id="nuestros-productos">
      <a href="/productos">Nuestras burguers</a>
    </div>
  </nav>
  <section class="carga-de-producto">
      <p class="btn-p-logueo">Sección admins</p>
  </section>
<script src="/js/estilosParaLogueo.js"></script>
</body>

</html>