<div class="nav-fixed">
  <nav class="nav-nuestros-productos">
    <div class="logo-nav">
      <a href="/">
        <img src="/images/logo-principal-nav.png" alt="">
      </a>
    </div>
    <div class="menu-nav">
      <details class="menu-desplegable-nav">
        <summary>︾</summary>
        <a href="/productos">Nuestras burguers</a>
        <hr>
        <a href="/admins">Nuevo producto
          <p class="solo-admins"> -solo admins-</p>
        </a>
      </details>
    </div>
    <div class="menu-nav-normal">
      <div>
        <a href="/productos">Nuestras burguers</a>
      </div>
    </div>
  </nav>
</div>