<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head') %> 
  <title>Nuestras burguers</title>
</head>

<body>
  <div class="nav-fixed">
    <nav class="nav-nuestros-productos">
      <div class="logo-nav">
        <a href="/">
          <img src="images/logo-principal-nav.png" alt="">
        </a>
      </div>
      <div class="menu-nav">
        <details class="menu-desplegable-nav">
          <summary>︾</summary>
          <a href="carga-de-producto.html">Nuevo producto
            <p class="solo-admins"> -solo admins-</p>
          </a>
        </details>
      </div>

      <div class="menu-nav-normal">
        <div class="menu-carga-de-prod item-nav-carga-de-prod">
          <a href="/productos/crear">Nuevo producto
            <span class="solo-admins"> -solo admins-</span>
          </a>
        </div>

      </div>
    </nav>
  </div>
  <div class="titulo-productos">
    <h2>¡Nuestras burguers!</h2>
  </div>

  <div class="hamburguesas">
    <% for( let i = 0; i < productos.length; i++ ) { %>
    <div class="item-hamburguesa">
      <img src="/images/<%= productos[i].images %> " alt="">
      <div class="contenedor-a-detalles">
        <a href="/productos/detalles/<%= productos[i]._id %> ">Ver detalles</a>

      </div>
    </div>
    <% } %>
  </div>

  <footer>
    <div class="contenedor-footer">
      <%- include('footer') %> 
    </div>
  </footer>
</body>

</html>