<div class="contenedor-form-logueo">
  <div class="contenedor-flex-form-logueo">
    <form action="/login/login" method="post">
      <div class="item-form-logueo">
        <input type="text" placeholder="Nombre de usuario" class="input-logueo" name="usuario" />
      </div>
      <div class="item-form-logueo">
        <input type="password" placeholder="Contraseña" class="input-logueo" name="password" />
      </div>
      <div class="item-form-logueo btns-logueo">
        <button type="button" class="btn-cancelar">Cancelar</button>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
