/* font-family: 'Baloo 2', cursive; */
:root {
  --dark-orange: #fb8b24ff;
  --dark-orange-blur: rgba(251, 140, 36, 0.3);
  --deep-space-sparkle: #335c67ff;
  --deep-space-sparkle-blur: rgba(51, 92, 103, 0.5);
  --apple-green: #7fb800ff;
  --wine: #702632ff;
  --wine-blur: rgba(112, 38, 50, 0.6);
  --wine-blur-2: rgba(112, 38, 50, 0.7);
  --silver-metallic: #ada8b6ff;
  --silver-metallic-blur: rgba(173, 168, 182, 0.3);
  --saffron: #f4c83bff;
  --saffron-blur: rgba(244, 201, 59, 0.3);
  --saffron-blur-2: rgba(244, 201, 59, 0.6);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Aladin", cursive;
  box-sizing: content-box;
}

/* INDEX */

body {
  background: url(../images/headerbg-min2.jpg);
  background-size: 100vw;
  margin-top: 120px;
}

.contenedor-logo {
  text-align: center;
  margin-top: 50px;
}

.nav-fixed {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2000;
}

.contenedor-logo img {
  width: 190px;
}

.contenedor-logo h1 {
  color: var(--dark-orange);
  font-family: "Aladin", cursive;
  font-size: 2.2em;
  stroke: 2px;
  text-shadow: 0 5px 0 var(--wine);
}

.contenedor-nav {
  text-align: center;
  margin-top: 60px;
}

.contenedor-nav div {
  margin-top: 20px;
  padding: 5px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(173, 168, 182, 0.3);
  backdrop-filter: blur(2px);
  border-radius: 0 20px 20px 0;
}

.contenedor-nav a {
  font-size: 1.8em;
  text-decoration: none;
  color: var(--dark-orange);
  text-shadow: 2px 2px 2px var(--wine);
}

.carga-de-producto {
  width: 80vw;
  margin: 0 auto;
  margin-right: 0;
  text-align: center;
  margin-top: 50px;
  padding: 1px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(173, 168, 182, 0.3);
  backdrop-filter: blur(2px);
  border-radius: 20px 0 0 20px;
}

.carga-de-producto p {
  color: var(--dark-orange);
  text-decoration: none;
  font-family: "Aladin", cursive;
  font-size: 1.2em;
  stroke: 2px;
  text-shadow: 0 2px 0 var(--wine);
}

#carga-de-productos {
  position: relative;
}

#solo-admin {
  font-size: 0.9em;
  position: absolute;
  color: var(--silver-metallic);
  text-shadow: 1px 1px 1px var(--wine);
  right: 10px;
  top: 20px;
}

/* ADMINS */
.titulo-admins {
  color: var(--silver-metallic);
  text-align: center;
}

.item-imagen {
  text-align: center;
}

.contenedor-btn-nuevo-producto {
  text-align: center;
}

.contenedor-btn-nuevo-producto button {
  background-color: var(--deep-space-sparkle);
  padding: 5px 10px;
  color: var(--dark-orange);
  font-size: 1.2em;
}

.contenedor-tarjeta-producto {
  width: 80%;
  background-color: var(--silver-metallic-blur);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  text-align: center;
  padding: 20px;
  margin: 30px auto;
  max-width: 600px;
}

.contenedor-flex-productos-admins {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contenedor-imagen img {
  border: 2px solid #000;
}

.informacion-detalles {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}

.informacion-detalles h3 {
  font-weight: normal;
}

.informacion-detalles h4 {
  font-size: 2em;
  font-weight: normal;
  color: var(--dark-orange);
  text-shadow: 3px 3px 2px var(--wine);
}
.contenedor-btn-atras {
  margin-top: 20px;
}
.contenedor-btn-atras button {
  padding: 3px 5px;
  font-size: 1.2em;
}

.nombre-de-producto {
  font-size: 1.7em;
  color: var(--saffron);
  text-shadow: 2px 2px 2px #000, -2px 2px 2px #000;
}

.form-borrar-admins {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.btns-form-admins {
  background-color: var(--deep-space-sparkle);
  color: var(--dark-orange);
  padding: 3px 6px;
  font-size: 1.1em;
}

/* EDITAR */
.contenedor-editar-prod {
  border: 5px solid var(--saffron) !important;
}
.item-imagen h4 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--wine);
  color: var(--saffron);
  padding: 10px;
  margin-bottom: 10px;
}

.contenedor-editar-prod h3,
.form-carga-de-prod input,
.item-form-carga-de-prod label > span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contenedor-editar-prod h3 {
  text-align: center;
  color: var(--saffron);
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 0;
  background-color: var(--wine);
}

.item-form-carga-de-prod img {
  width: 200px;
}

.item-imagen-edicion-de-prod {
  text-align: center;
}

.item-imagen-edicion-de-prod p {
  text-align: left;
}

input[type="file"]#foto {
  display: none;
}

label[for="foto"] {
  cursor: pointer;
  background-color: var(--deep-space-sparkle);
  width: 60%;
  padding: 7px;
  border: 2px solid var(--dark-orange);
}

/* PRODUCTOS */
.menu-nav-normal {
  display: none;
}

.nav-nuestros-productos {
  position: relative;
  background-color: var(--saffron-blur);
  backdrop-filter: blur(2px);
  border-radius: 0 0 20px 20px;
}

.logo-nav img {
  width: 100px;
  margin: 10px 20px;
}

.logo-nav {
  display: inline;
  text-align: right;
}

.menu-nav {
  text-align: right;
  color: var(--dark-orange);
  position: absolute;
  top: 5px;
  right: 20px;
  text-shadow: 2px 2px 2px var(--wine);
}

.menu-nav a {
  font-size: 1.4em;
  color: var(--dark-orange);
  margin-top: 5px;
  padding-right: 7px;
  text-decoration: none;
  display: block;
  text-shadow: 2px 2px 3px var(--deep-space-sparkle),
    -2px -2px 3px var(--deep-space-sparkle),
    -2px 2px 3px var(--deep-space-sparkle),
    2px -2px 3px var(--deep-space-sparkle);
}

.menu-desplegable-nav[open] {
  border-radius: 20px 0;
  padding: 0 0 7px 7px;
  background: var(--saffron-blur-2);
  backdrop-filter: blur(6px);
  transition: 0.5s;
}

.menu-desplegable-nav hr {
  margin: 5px 0 20px 0;
  width: 95%;
  background-color: var(--wine);
  border-color: var(--wine);
  color: var(--wine);
}

.solo-admins {
  font-size: 0.7em;
}

.menu-nav summary {
  display: block;
  font-size: 2em;
}

.titulo-productos h2 {
  font-size: 2em;
  color: var(--dark-orange);
  text-shadow: 3px 3px 2px var(--wine);
  text-align: center;
  margin-top: 140px;
}

.titulo-productos h3 {
  font-size: 2.3em;
  color: var(--dark-orange);
  text-shadow: 4px 4px 2px var(--deep-space-sparkle);
  text-align: center;
}

.hamburguesas img,
.contenedor-imagen img {
  width: 200px;
}

.hamburguesas {
  display: flex;
  gap: 12px;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 30px;
}

.item-hamburguesa {
  padding: 20px;
  margin: 0 auto;
  margin-top: 40px;
  width: min-content;
  border-radius: 20px 0;
  background: var(--dark-orange-blur);
  backdrop-filter: blur(2px);
  transition: 0.3s;
}

.item-hamburguesa:hover {
  background: var(--saffron-blur);
  transition: 0.3s;
}

.hamburguesas h3,
.informacion-detalles h3 {
  font-size: 1.4em;
  margin-top: 10px;
  color: var(--dark-orange);
  text-shadow: 2px 2px 2px var(--wine);
}

.hamburguesas summary {
  font-size: 1.4em;
  display: block;
  transition: 1s;
  color: var(--dark-orange);
  text-shadow: 2px 2px 2px var(--wine);
}

.hamburguesas summary::after {
  content: "☟";
  display: block;
  font-size: 3em;
  cursor: pointer;
}

.hamburguesas p {
  font-size: 1.4em;
  color: var(--saffron);
  text-shadow: 0 2px 1px var(--deep-space-sparkle);
}

.contenedor-btn-ver-detalles {
  margin-top: 10px;
}

.contenedor-btn-ver-detalles a {
  text-decoration: none;
  background-color: var(--deep-space-sparkle);
  color: var(--dark-orange);
  padding: 3px 6px;
  font-size: 1.1em;
}

/* FOOTER */

footer {
  padding: 5px;
  border-radius: 10px 10px 0 0;
  background: var(--silver-metallic-blur);
  backdrop-filter: blur(2px);
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  text-shadow: 1px 1px 3px var(--dark-orange), -1px 1px 3px var(--dark-orange),
    0px -1px 3px var(--dark-orange);
}

/* REGISTRO DE USUARIO */
.contenedor-registro-de-usuario,
.contenedor-form-carga-de-prod {
  width: 90vw;
  max-width: 673px;
  margin: 0 auto;
  margin-top: 120px;
  background: var(--deep-space-sparkle-blur);
  backdrop-filter: blur(3px);
  border: 5px solid var(--dark-orange);
  color: var(--dark-orange);
  margin-bottom: 30px;
}

.contenedor-registro-de-usuario h2,
.contenedor-registro-de-usuario h6,
.contenedor-form-carga-de-prod h2 {
  text-align: center;
  text-shadow: 3px 3px 2px var(--wine);
  margin-top: 10px;
}

.contenedor-registro-de-usuario h6 {
  width: 60vw;
  text-align: right;
  margin: 0 auto;
  margin-right: 20px;
}

.btn-inicio-de-sesion {
  text-align: right;
}

.btn-inicio-de-sesion button {
  font-size: 1.2em;
  margin-top: 5px;
  margin-right: 20px;
  background: var(--wine);
  color: var(--silver-metallic);
  padding: 2px 5px;
  border-radius: 10px 0;
  border: none;
}

.inicio-de-sesion {
  margin-right: 0;
}

.form-reg-de-usr,
.form-carga-de-prod {
  margin-top: 25px;
  position: relative;
}

.item-form-reg-de-usr,
.item-form-carga-de-prod {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}

form label {
  display: inline-block;
  width: 100%;
  font-size: 0.9em;
}

form input,
form textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--dark-orange);
  color: var(--dark-orange);
  transition: 0.4s;
  font-size: 1.2em;
}

form input:focus:not(#foto-de-perfil, #foto) {
  background: var(--saffron-blur);
  transition: 0.4s;
}

.foto-de-perfil input {
  border: none;
  transition: 0.4s;
  font-size: 0.8em;
  margin-top: 10px;
}

.btns {
  text-align: right;
  margin: 30px 30px 20px 0;
}

.item-form-reg-de-usr button,
.item-form-carga-de-prod button,
.item-form-carga-de-prod a button {
  background: var(--wine);
  font-size: 1.2em;
  color: var(--saffron);
  padding: 5px 10px;
  border-radius: 10px 0;
  border: none;
  cursor: pointer;
}
.item-form-carga-de-prod a {
  margin-right: 20px;
}

.item-form-reg-de-usr button[type="reset"],
.item-form-carga-de-prod button[type="reset"] {
  bottom: -40px;
  right: 100px;
  font-size: 1.1em;
}

.item-form-reg-de-usr button[type="submit"],
.item-form-carga-de-prod button[type="submit"] {
  bottom: -40px;
  right: 20px;
  font-size: 1.1em;
}

.footer-forms {
  width: 100%;
  padding: 5px 0;
  bottom: 0;
}

.contenedor-logo-forms {
  text-align: center;
}

.contenedor-logo-forms img {
  width: 150px;
}

.contenedor-form-carga-de-prod textarea {
  height: 150px;
  background: transparent;
  border: 1px solid var(--dark-orange);
}

.contenedor-form-carga-de-prod textarea:focus {
  background: var(--saffron-blur);
  color: var(--dark-orange);
}

#foto {
  font-size: 0.8em;
  border: none;
}

.contenedor-form-carga-de-prod {
  margin-bottom: 20px;
}

.descripcion-nvo-prod {
  text-align: center;
  border: 1px solid greenyellow;
}

.item-descr {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* VENTANA LOGUEO */
.contenedor-form-logueo {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: -100vh;
  background-color: var(--dark-orange-blur);
  backdrop-filter: blur(10px);
  z-index: 100000;
  text-align: center;
  transition: .5s;
}
.contenedor-flex-form-logueo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-logueo {
  margin: 10px;
  width: 250px;
}
.item-form-logueo button {
  margin-top: 20px;
  width: 30%;
}
.btns-logueo {
  text-align: right;
}

.contenedor-form-logueo-activo {
  top: 0;
  transition: .5s;
}

@media (min-width: 744px) {

  .contenedor-flex-productos-admins {
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    align-content: center;
  }
  .contenedor-logo {
    margin-top: 25px;
  }

  .contenedor-logo h1 {
    font-size: 2.5em;
  }

  .contenedor-nav {
    margin-top: 30px;
  }

  .contenedor-nav div {
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
  }

  .carga-de-producto {
    font-size: 1.3em;
  }

  .nav-nuestros-productos {
    height: 90px;
  }

  .menu-nav {
    display: none;
  }

  .menu-nav-normal {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 8px;
  }

  .menu-nav-normal div:hover {
    background: var(--wine-blur-2);
    transition: 0.4s;
  }

  .contenedor-registro-de-usuario,
  .contenedor-form-carga-de-prod {
    max-width: 516px;
  }

  .item-nav-carga-de-prod {
    margin-left: 5%;
    font-size: 1.3em;
  }

  .menu-nav-normal div {
    display: inline;
    margin-right: 5px;
    padding: 10px 15px 10px 15px;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(
      180deg,
      rgb(63, 22, 28) 0%,
      rgba(112, 38, 50, 0.8) 30%,
      rgba(112, 38, 50, 0.6) 100%
    );
  }

  .menu-nav-normal a {
    text-decoration: none;
    font-size: 1.4em;
    color: var(--dark-orange);
  }

  .menu-carga-de-prod a {
    color: var(--wine);
    font-size: 0.8em;
    text-shadow: 2px 2px 3px var(--saffron), -2px -2px 3px var(--saffron),
      -2px 2px 3px var(--saffron), 2px -2px 3px var(--saffron);
  }

  .contenedor-registro-de-usuario h2,
  .contenedor-form-carga-de-prod h2 {
    font-size: 1.8em;
  }

  .contenedor-registro-de-usuario h6 {
    width: 300px;
    font-size: 0.9em;
  }

  form label {
    width: 20vw;
    font-size: 1.1em;
    margin-left: 10px;
  }
}

@media (min-width: 992px) {
  .item-nav-carga-de-prod {
    margin-left: 20%;
  }

  .menu-nav-normal div {
    margin-right: 20px;
    background: var(--silver-metallic-blur);
  }
}

@media (min-width: 1440px) {
  .contenedor-tarjetas-productos-flex {
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
  }
  .contenedor-tarjeta-producto{    
    max-width: 500px;
    position: relative;
  }
  .hamburguesas {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1490px;
  }
}
